In [ ]:
# 上辺、下辺、高さの値
上辺 = 10
下辺 = 20
高さ = 5

# 台形の面積を計算する公式
面積 = (上辺 + 下辺) * 高さ / 2

# 結果を出力
print(面積, "cm²")

75.0 cm²

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1]) # 2番目の要素だけを表示

user_names[1] = "侍花子" # 2番目の要素を更新
print(user_names)

user_names.append("侍五郎") # 6番目の要素を追加
print(user_names)

user_names.pop(2) # 3番目の要素を削除 (0始まりのため2を指定)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
user_names = ["侍太郎", "侍一郎", "侍二郎", "侍三郎", "侍四郎"]

print(user_names[1])  # 2番目の要素だけを表示

user_names[1] = "侍花子"  # ２番目の要素を更新
print(user_names)

user_names.append("侍五郎")  # ６番目の要素を追加
print(user_names)

user_names.pop(2)  # 3番目の要素を削除 (0始まりのため2を指定)
print(user_names)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍五郎']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍五郎']

In [ ]:
country_names = ("日本" , "アメリカ" , "イギリス" , "フランス" )

# 3番目の要素を取り出す
print(country_names[2])

# すべての要素を取り出す
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [ ]:
country_names = {"アメリカ", "イギリス", "日本", "フランス"}

# セット全体を表示
print(country_names)

country_names.add("ドイツ")  # 「ドイツ」をセットに追加
print(country_names)

country_names.remove("イギリス")  # セットから「イギリス」を削除
print(country_names)

{'日本', 'アメリカ', 'イギリス', 'フランス'}
{'アメリカ', '日本', 'ドイツ', 'イギリス', 'フランス'}
{'アメリカ', '日本', 'ドイツ', 'フランス'}